/* Global Styles */

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  z-index: 3;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* Style for Sidebar */
.sidebar {
  width: 25rem;
  height: 100vh;
  background-color: #031425;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.side-header {
  padding: 3rem;
}
.sidebar .side-header h2 {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.sidebar .side-header img {
  display: flex;
  flex: 1 1 10rem;
  width: 100%;
}

.side-content {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: left;
}

.side-menu ul {
  padding: 0;
}

.side-menu li {
  list-style: none;
  margin-bottom: 10px;
}

.side-menu .nav-link {
  color: #ffffff;
  padding: 1.5rem 2rem;
  display: block;
  border-radius: 1.2rem;
  transition: background-color 0.3s ease;
}

.side-menu .nav-link:hover {
  background-color: #495057;
}

/* Style for Main Content */
.main-content {
  display: flex;
  justify-content: center;
  margin-left: 25rem;
  padding: 2rem;
}

.Dashboard .row-judul .fw-bold {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5rem;
}

.content-wrap .info-boxes {
  padding: 1em 2em 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2em;
}
.content-wrap .info-boxes .info-box {
  background: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
  border: 3px solid #ede8f0;
  border-radius: 5px;
}

.content-wrap .info-boxes .info-box .box-icon svg {
  display: block;
  width: 48px;
  height: 48px;
}
.content-wrap .info-boxes .info-box .box-icon svg path,
.content-wrap .info-boxes .info-box .box-icon svg circle {
  fill: #99a0b0;
}
.content-wrap .info-boxes .info-box .box-content {
  padding-left: 1.25em;
  white-space: nowrap;
}
.content-wrap .info-boxes .info-box .box-content .big {
  display: block;
  font-size: 2em;
  line-height: 150%;
  color: #1b253d;
}
.content-wrap .info-boxes .info-box.active svg circle,
.content-wrap .info-boxes .info-box.active svg path {
  fill: #4b84fe;
}

/* search  */
.Hero .searchPelanggan {
  margin-left: 40rem;
  margin-top: 1rem;
}

.Hero .dataPelanggan {
  /* margin-left: 320px; */
  margin-top: 30px;
}

.server .searchServer {
  margin-left: 320px;
  margin-top: 30px;
}

.server .dataServer {
  /* margin-left: 320px; */
  margin-top: 30px;
}

.voucher .cardVoucher {
  border-radius: 7px;
  background: var(--white-100, #fff);
  box-shadow: 0px 1px 7.2px 0px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 2rem;
}

/* Style for Table */
.table {
  margin-top: 20px;
}

/* Style for Buttons */
.btn {
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }

  .main-content {
    margin-left: 0;
  }
}
