<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css ekstrnal instalasi -->
    <link rel="stylesheet" href="/stylesheets/landingpage.css" />

    <title>Daeng Barbershop Landing Page</title>

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Feather Icons-->
    <script src="https://unpkg.com/feather-icons"></script>

    <!--MyStyle-->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navbar Start-->
    <nav class="navbar">
      <a href="#home" class="navbar-logo">Daeng<span> Barbershop</span>.</a>

      <div class="navbar-nav">
        <a href="#home">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#layanan">Layanan</a>
        <a href="#download">Download</a>
      </div>

      <div class="navbar-extra">
        <a href="http://localhost:3000/web/loginpage" id="login"><i data-feather="log-in"></i></a>
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>

    <!-- Navbar End-->

    <!-- Hero Start-->
    <section class="hero" id="home">
      <main class="content">
        <h1>Haircut, Shave & <span>Coloring</span></h1>
        <p>
          Daeng Barbershop adalah tempat yang cocok untuk anda yang ingin tampil
          lebih rapi dan menarik.
        </p>
        <a href="#download" class="cta">Download Aplikasi Disini</a>
      </main>
    </section>
    <!-- Hero End-->

    <!-- About Start-->
    <section id="about" class="about">
      <h2>Tentang<span> Kami</span> .</h2>

        <div class='row'>
          <div class="about-img">
            <img src="/image/LogoFIX1.png" alt="Tentang Kami" >
          </div>
          <div class="content">
            <h3>Daeng Barbershop</h3>
            <p>Daeng Barbershop hadir dengan mengusung konsep desain interior yang mewah serta pelayanan premium sehingga dapat memberikan kesan ekslusif kepada setiap pelanggan.</p>
            <p>Daeng Barbershop hadir untuk memberikan kemudahan kepada para pria yang ingin tampil lebih percaya diri sesuai dengan kepribadian dan karakter masing – masing, serta memberikan model rambut yang terbaik yang sesuai dengan kepribadian dan karakter klien dengan harga yang terjangkau..</p>  
            <p>Di Barbershop ini, kita akan manjakan kaum pria dengan tampilan yang trendy, dengan ditangani oleh barberman muda yang trampil, ramah, komunikatif dan professional.</p>  
          </div>
          </div>
        </div>
    </section>

    <section id="lokasi" class="lokasi">
      <h3>Lokasi Daeng Barbershop.</h3>
      <p>Daeng Barbershop sudah memiliki 5 cabang didaerah Toba, Samosir dan sekitarnya . Datang langsung ke Barbershop terdekat dari rumah anda.</p>

      <div class="row">
        <div class="lokasi-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255105.43067307692!2d98.53527580418977!3d2.4995203114699556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x302e05a7731b72a3%3A0xf7e4e16a80a63d97!2sDaeng%20Barbershop%20Balige!5e0!3m2!1sid!2sid!4v1708949754288!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          <h4 class="lokasi-map-title">- Balige -</h4>
        </div>
        <div class="lokasi-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2040655.9089950593!2d97.66758137554652!3d2.6173561000000163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3031c557e32506ef%3A0xb193d3ca2049526e!2sDaeng%20Barbershop%20Pangururan!5e0!3m2!1sid!2sid!4v1708951197375!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          <h4 class="lokasi-map-title">- Pangururan -</h4>
        </div>
        <div class="lokasi-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255149.22466814937!2d98.60709481640623!3d2.263013300000024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x302e3b2962be7ab9%3A0x7535abbeaa90ed68!2sDaeng%20Barbershop%20Dolok%20Sanggul!5e0!3m2!1sid!2sid!4v1708951339624!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          <h4 class="lokasi-map-title">- Dolok Sanggul -</h4>
        </div>
        <div class="lokasi-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255057.4314776884!2d98.1883338164062!3d2.735362000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3030377e69a65f95%3A0x8aaa1346daeaf1ba!2sDaeng%20Barbershop%20Sidikalang!5e0!3m2!1sid!2sid!4v1708951381713!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          <h4 class="lokasi-map-title">- Sidikalang -</h4>
        </div>
        <div class="lokasi-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255105.43067307692!2d98.53527580418977!3d2.499520311469959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3031ec1fba0cfb5f%3A0x2e2f59cdbcb65079!2sDaeng%20Barbershop!5e0!3m2!1sid!2sid!4v1708966099305!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          <h4 class="lokasi-map-title">- Parapat -</h4>
        </div>
      </div>

    </section>
    <!-- About End-->

    <!-- Layanan Start -->

    <section id="layanan" class="layanan">
      <h2>Layanan<span> Kami </span>.</h2>
        <p>Rasa percaya diri ini bisa kita dapatkan dari pengalaman, wawasan dan penampilan yang menarik, di Daeng Babershop ini, kenyamanan klien menjadi prioritas kami, karena disini, selain potong rambut, cuci rambut, scrub wajah, eye jell (pendingin mata), hair tonic dan vitamin rambut. Untuk cuci rambut, klien tidak harus berpindah tempat, karena kami mendesain ruangan dan kursinya dalam satu ruangan.</p>

        <div class="row">
          <div class="layanan-card">
            <img src="/image/layanan1.jpg" alt="cukur" class="layanan-card-img">
            <h3 class="layanan-card-title">- Potong Rambut Dewasa-</h3>
            <p class="layanan-card-price">IDR 50</p>
          </div>
          <div class="layanan-card">
            <img src="/image/layanan2.jpg" alt="produk rambut" class="layanan-card-img">
            <h3 class="layanan-card-title">- Pomade -</h3>
            <p class="layanan-card-price"> Mulai dari IDR 25k</p>
          </div>
          <div class="layanan-card">
            <img src="/image/layanan1.jpg" alt="cukur" class="layanan-card-img">
            <h3 class="layanan-card-title">- Potong Rambut Anak-</h3>
            <p class="layanan-card-price">IDR 35K</p>
          </div>
          <div class="layanan-card">
            <img src="/image/layanan2.jpg" alt="produk rambut" class="layanan-card-img">
            <h3 class="layanan-card-title">- Hair Tonic -</h3>
            <p class="layanan-card-price"> Mulai dari IDR 30</p>
          </div>
          <div class="layanan-card">
            <img src="/image/layanan1.jpg" alt="cukur" class="layanan-card-img">
            <h3 class="layanan-card-title">- Creambath -</h3>
            <p class="layanan-card-price">IDR 20</p>
          </div>
          <div class="layanan-card">
            <img src="/image/layanan2.jpg" alt="produk rambut" class="layanan-card-img">
            <h3 class="layanan-card-title">- Vitamin Rambut -</h3>
            <p class="layanan-card-price"> Mulai dari IDR 30</p>
          </div>
        </div>
    
      </section>

    <!-- Layanan End -->

    <!-- Download Start-->

      <section id="download" class="download">
        <h2>Download<span> Aplikasi</span> .</h2>
        <p>Untuk kemudahan Membership dan mengakses tiap konten dari kami. Silahkan download aplikasi dari DaengBarbershop.</p>

        <div class="row">
          <div class="download-qr">
            <img style="width: 270px;" src="/image/DownloadDaeng.jpeg" alt="qrcode" >
            <h3 class="download-qr-title">- Scan Untuk Download -</h3>
          </div>
          <!--<div class="button">-->
          <!--  <button class="btn"><i data-feather="download"></i> Download Disini</button>-->
          <!--</div>-->
           <div class="tombol-download">
            <a href="https://drive.google.com/drive/folders/10Y4hd4BTpC6syPVKoVbmJUw8lBHjCAoV" class="cta"><i data-feather="download"></i> Download Disini</a>
          </div> 
        </div>
      </section>

    <!-- Download End-->

    <!-- Footer Start-->

    <footer>
      <div class="sosial">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
      </div>

      <div class="link">
        <a href="#home">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#layanan">Layanan</a>
        <a href="#download">Download</a>
      </div>

      <div class="credit">
        <p>Created by <a href="https://www.instagram.com/reindrowen/">reindrowowen</a>. | &copy; 2024.</p>
      </div>
    </footer>

    <!-- Footer End-->

    <!--Feather Icon-->
    <script>
      feather.replace();
    </script>

    <!-- My Javascript -->
    <script >
      // Toggle class active
      const navbarNav = document.querySelector(".navbar-nav");
      // ketika hamburger menu di klik
      document.querySelector("#hamburger-menu").onclick = () => {
        navbarNav.classList.toggle("active");
      };

      // Klik diluar sidebar untuk menghilangkan nav
      const hamburger = document.querySelector("#hamburger-menu");

      document.addEventListener("click", function (event) {
        if (!hamburger.contains(event.target) && !navbarNav.contains(event.target)) {
          navbarNav.classList.remove("active");
        }
      });
    </script>
  </body>
</html>
